In [2]:
##grab all of the Kaggle Data

Kaggle_files = ['game.csv',
'game_teams_stats.csv',
'game_scratches.csv',
'game_officials.csv',
'game_skater_stats.csv',
'game_goalie_stats.csv'] 


Kaggle_path = "/Users/joejohns/data_bootcamp/Final_Project_NHL_prediction/Data/Kaggle_Data_Ellis/"
mp_path = "/Users/joejohns/data_bootcamp/Final_Project_NHL_prediction/Data/Money_Puck_Data/"
betting_path = "/Users/joejohns/data_bootcamp/Final_Project_NHL_prediction/Data/Betting_Data/"


import pandas as pd
import numpy as np

In [3]:
df_game = pd.read_csv(Kaggle_path+'game.csv')
df_game_team_stats = pd.read_csv(Kaggle_path+'game_teams_stats.csv')
df_game_skater_stats = pd.read_csv(Kaggle_path+'game_skater_stats.csv')
df_game_goalie_stats = pd.read_csv(Kaggle_path+'game_goalie_stats.csv')

##more subtle features:
df_game_scratches = pd.read_csv(Kaggle_path+'game_scratches.csv')
df_game_officials = pd.read_csv(Kaggle_path+'game_officials.csv')
df_team_info = pd.read_csv(Kaggle_path+'team_info.csv')

In [4]:
## grab all the moneypuck data 

df_mp_teams = pd.read_csv(mp_path+'all_teams.csv')

In [5]:
## grab all betting data 
df1 = pd.read_excel(io = betting_path+'nhl odds 2007-08.xlsx')
df2 = pd.read_excel(io = betting_path+'nhl odds 2008-09.xlsx')
df3 = pd.read_excel(io = betting_path+'nhl odds 2009-10.xlsx')
df4 = pd.read_excel(io = betting_path+'nhl odds 2010-11.xlsx')
df5 = pd.read_excel(io = betting_path+'nhl odds 2011-12.xlsx')
df6 = pd.read_excel(io = betting_path+'nhl odds 2012-13.xlsx')
df7 = pd.read_excel(io = betting_path+'nhl odds 2013-14.xlsx')
df8 = pd.read_excel(io = betting_path+'nhl odds 2014-15.xlsx')
df9 = pd.read_excel(io = betting_path+'nhl odds 2015-16.xlsx')
df10 = pd.read_excel(io = betting_path+'nhl odds 2016-17.xlsx')
df11 = pd.read_excel(io = betting_path+'nhl odds 2017-18.xlsx')
df12 = pd.read_excel(io = betting_path+'nhl odds 2018-19.xlsx')
df13 = pd.read_excel(io = betting_path+'nhl odds 2019-20.xlsx')

In [6]:
df1['season'] = 20072008
df2['season'] = 20082009
df3['season'] = 20092010
df4['season'] = 20102011
df5['season'] = 20112012
df6['season'] = 20122013
df7['season'] = 20132014
df8['season'] = 20142015
df9['season'] = 20152016
df10['season'] = 20162017
df11['season'] = 20172018
df12['season'] = 20182019
df13['season'] = 20192020

In [7]:
##omit 2007-2008

df_betting = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13])

In [ ]:
##drop diplicates here 
df_game['game_id'] df_game_team_stats df_game_team_stats df_game_team_stats

In [70]:
df_betting = df_betting.loc[:, ['Date', 'season','VH', 'Team', 'Open']].copy()
df_mp_teams_all = df_mp_teams.loc[df_mp_teams['situation'] == 'all', :].copy()
df_game.drop_duplicates(inplace = True)

In [18]:
df_mp_teams_all['name'].value_counts()

PIT    1144
BOS    1137
CHI    1131
WSH    1122
S.J    1116
T.B    1105
NYR    1102
STL    1092
NSH    1086
L.A    1079
PHI    1079
ANA    1078
DET    1076
MTL    1075
VAN    1070
DAL    1052
NYI    1046
OTT    1043
MIN    1041
COL    1040
CBJ    1035
N.J    1034
CAR    1032
ARI    1029
CGY    1029
TOR    1025
EDM    1012
FLA    1010
BUF    1006
WPG     780
VGK     338
ATL     246
Name: name, dtype: int64

In [22]:
df_game_team_stats.head(4)

,game_id,team_id,HoA,won,settled_in,head_coach,goals,shots,hits,pim,powerPlayOpportunities,powerPlayGoals,faceOffWinPercentage,giveaways,takeaways,blocked,startRinkSide
0,2016020045,4,away,False,REG,Dave Hakstol,4.0,27.0,30.0,6.0,4.0,2.0,50.9,12.0,9.0,11.0,left
1,2016020045,16,home,True,REG,Joel Quenneville,7.0,28.0,20.0,8.0,3.0,2.0,49.1,16.0,8.0,9.0,left
2,2017020812,24,away,True,OT,Randy Carlyle,4.0,34.0,16.0,6.0,3.0,1.0,43.8,7.0,4.0,14.0,right
3,2017020812,7,home,False,OT,Phil Housley,3.0,33.0,17.0,8.0,2.0,1.0,56.2,5.0,6.0,14.0,right

In [16]:
df_game.head(2)

,game_id,season,type,date_time_GMT,away_team_id,home_team_id,away_goals,home_goals,outcome,home_rink_side_start,venue,venue_link,venue_time_zone_id,venue_time_zone_offset,venue_time_zone_tz
0,2016020045,20162017,R,2016-10-19T00:30:00Z,4,16,4,7,home win REG,right,United Center,/api/v1/venues/null,America/Chicago,-5,CDT
1,2017020812,20172018,R,2018-02-07T00:00:00Z,24,7,4,3,away win OT,left,KeyBank Center,/api/v1/venues/null,America/New_York,-4,EDT

In [71]:
set(df_game['game_id']) == set(df_game_team_stats['game_id'])

True

In [19]:
df_betting.head(2)

   Date    season VH        Team  Open
0   929  20072008  V     Anaheim  -155
1   929  20072008  H  LosAngeles   135

In [20]:
df_betting['Team'].value_counts()

Pittsburgh      1191
Boston          1172
Chicago         1157
Washington      1155
SanJose         1155
NYRangers       1137
TampaBay        1129
Detroit         1125
Philadelphia    1122
St.Louis        1118
Nashville       1118
Montreal        1113
Anaheim         1110
LosAngeles      1105
Vancouver       1098
Dallas          1096
Colorado        1076
Minnesota       1073
Ottawa          1073
NYIslanders     1072
NewJersey       1063
Calgary         1063
Columbus        1061
Carolina        1059
Toronto         1052
Edmonton        1038
Florida         1036
Buffalo         1032
Winnipeg         723
Phoenix          567
Arizona          488
Atlanta          328
Vegas            282
WinnipegJets       1
Arizonas           1
Tampa              1
Name: Team, dtype: int64

In [58]:
df_game.columns

Index(['game_id', 'season', 'type', 'date_time_GMT', 'away_team_id',
       'home_team_id', 'away_goals', 'home_goals', 'outcome',
       'home_rink_side_start', 'venue', 'venue_link', 'venue_time_zone_id',
       'venue_time_zone_offset', 'venue_time_zone_tz'],
      dtype='object')

In [60]:
df_game_team_stats.columns

Index(['game_id', 'team_id', 'HoA', 'won', 'settled_in', 'head_coach', 'goals',
       'shots', 'hits', 'pim', 'powerPlayOpportunities', 'powerPlayGoals',
       'faceOffWinPercentage', 'giveaways', 'takeaways', 'blocked',
       'startRinkSide'],
      dtype='object')

In [61]:
df_mp_teams.head(2)

,team,season,name,gameId,playerTeam,opposingTeam,home_or_away,gameDate,position,situation,...,unblockedShotAttemptsAgainst,scoreAdjustedUnblockedShotAttemptsAgainst,dZoneGiveawaysAgainst,xGoalsFromxReboundsOfShotsAgainst,xGoalsFromActualReboundsOfShotsAgainst,reboundxGoalsAgainst,totalShotCreditAgainst,scoreAdjustedTotalShotCreditAgainst,scoreFlurryAdjustedTotalShotCreditAgainst,playoffGame
0,NYR,2008,NYR,2008020001,NYR,T.B,AWAY,20081004,Team Level,other,...,1.0,1.000,0.0,0.017,0.000,0.000,0.037,0.037,0.037,0
1,NYR,2008,NYR,2008020001,NYR,T.B,AWAY,20081004,Team Level,all,...,31.0,30.369,5.0,0.396,0.168,0.168,2.917,2.833,2.714,0

In [63]:
len(set(df_mp_teams['gameId']))

16145

In [73]:
len(set(df_game['game_id']))

23735

In [77]:
df_mp_teams['season'].value_counts()

2018    13580
2017    13550
2013    13230
2015    13210
2014    13190
2009    13180
2010    13180
2016    13170
2011    13160
2008    13140
2019    12120
2020     8680
2012     8060
Name: season, dtype: int64

In [74]:
df_game['season'].value_counts()

20172018    1363
20182019    1360
20132014    1323
20162017    1323
20152016    1321
20142015    1319
20102011    1319
20112012    1316
20092010    1230
20072008    1230
20062007    1230
20022003    1230
20032004    1230
20052006    1230
20002001    1230
20012002    1230
20082009    1230
20192020    1215
20122013     806
Name: season, dtype: int64

In [72]:
df_game.loc[df_game['season'] == 20182019, :].sort_values(by = 'game_id').head(10)

,game_id,season,type,date_time_GMT,away_team_id,home_team_id,away_goals,home_goals,outcome,home_rink_side_start,venue,venue_link,venue_time_zone_id,venue_time_zone_offset,venue_time_zone_tz
23585,2018020001,20182019,R,2018-10-03T23:00:00Z,8,10,2,3,home win OT,right,Scotiabank Arena,/api/v1/venues/null,America/Toronto,-4,EDT
23586,2018020002,20182019,R,2018-10-03T23:30:00Z,6,15,0,7,home win REG,right,Capital One Arena,/api/v1/venues/5094,America/New_York,-5,EST
23587,2018020003,20182019,R,2018-10-04T02:00:00Z,20,23,2,5,home win REG,right,Rogers Arena,/api/v1/venues/5073,America/Vancouver,-7,PDT
23588,2018020004,20182019,R,2018-10-04T02:30:00Z,24,28,5,2,away win REG,left,SAP Center at San Jose,/api/v1/venues/null,America/Los_Angeles,-8,PST
23593,2018020005,20182019,R,2018-10-04T23:00:00Z,6,7,4,0,away win REG,left,KeyBank Center,/api/v1/venues/5039,America/New_York,-4,EDT
23596,2018020006,20182019,R,2018-10-04T23:30:00Z,18,3,3,2,away win REG,right,Madison Square Garden,/api/v1/venues/5054,America/New_York,-4,EDT
23594,2018020007,20182019,R,2018-10-04T23:00:00Z,15,5,6,7,home win OT,left,PPG Paints Arena,/api/v1/venues/5034,America/New_York,-5,EST
23595,2018020008,20182019,R,2018-10-04T23:00:00Z,2,12,2,1,away win OT,right,PNC Arena,/api/v1/venues/5066,America/New_York,-4,EDT
23597,2018020009,20182019,R,2018-10-04T23:30:00Z,16,9,4,3,away win OT,left,Canadian Tire Centre,/api/v1/venues/5031,America/New_York,-4,EDT
23598,2018020010,20182019,R,2018-10-04T23:30:00Z,29,17,3,2,away win OT,right,Little Caesars Arena,/api/v1/venues/5145,America/Detroit,-5,EST