In [1]:
##grab all of the Kaggle Data

Kaggle_files = ['game.csv',
'game_teams_stats.csv',
'game_scratches.csv',
'game_officials.csv',
'game_skater_stats.csv',
'game_goalie_stats.csv'] 


Kaggle_path = "/Users/joejohns/data_bootcamp/Final_Project_NHL_prediction/Data/Kaggle_Data_Ellis/"
mp_path = "/Users/joejohns/data_bootcamp/Final_Project_NHL_prediction/Data/Money_Puck_Data/"
betting_path = "/Users/joejohns/data_bootcamp/Final_Project_NHL_prediction/Data/Betting_Data/"


import pandas as pd
import numpy as np

In [2]:
df_game = pd.read_csv(Kaggle_path+'game.csv')
df_game_team_stats = pd.read_csv(Kaggle_path+'game_teams_stats.csv')
df_game_skater_stats = pd.read_csv(Kaggle_path+'game_skater_stats.csv')
df_game_goalie_stats = pd.read_csv(Kaggle_path+'game_goalie_stats.csv')

##more subtle features:
df_game_scratches = pd.read_csv(Kaggle_path+'game_scratches.csv')
df_game_officials = pd.read_csv(Kaggle_path+'game_officials.csv')
df_team_info = pd.read_csv(Kaggle_path+'team_info.csv')

In [3]:
## grab all the moneypuck data 

df_mp_teams = pd.read_csv(mp_path+'all_teams.csv')

In [4]:
## grab all betting data 
df1 = pd.read_excel(io = betting_path+'nhl odds 2007-08.xlsx')
df2 = pd.read_excel(io = betting_path+'nhl odds 2008-09.xlsx')
df3 = pd.read_excel(io = betting_path+'nhl odds 2009-10.xlsx')
df4 = pd.read_excel(io = betting_path+'nhl odds 2010-11.xlsx')
df5 = pd.read_excel(io = betting_path+'nhl odds 2011-12.xlsx')
df6 = pd.read_excel(io = betting_path+'nhl odds 2012-13.xlsx')
df7 = pd.read_excel(io = betting_path+'nhl odds 2013-14.xlsx')
df8 = pd.read_excel(io = betting_path+'nhl odds 2014-15.xlsx')
df9 = pd.read_excel(io = betting_path+'nhl odds 2015-16.xlsx')
df10 = pd.read_excel(io = betting_path+'nhl odds 2016-17.xlsx')
df11 = pd.read_excel(io = betting_path+'nhl odds 2017-18.xlsx')
df12 = pd.read_excel(io = betting_path+'nhl odds 2018-19.xlsx')
df13 = pd.read_excel(io = betting_path+'nhl odds 2019-20.xlsx')

In [5]:
df1['season'] = 20072008
df2['season'] = 20082009
df3['season'] = 20092010
df4['season'] = 20102011
df5['season'] = 20112012
df6['season'] = 20122013
df7['season'] = 20132014
df8['season'] = 20142015
df9['season'] = 20152016
df10['season'] = 20162017
df11['season'] = 20172018
df12['season'] = 20182019
df13['season'] = 20192020

In [6]:
##omit 2007-2008

df_betting = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13])

In [7]:
df_betting = df_betting.loc[:, ['Date', 'season','VH', 'Team', 'Open']].copy()
df_mp_teams_all = df_mp_teams.loc[df_mp_teams['situation'] == 'all', :].copy()
df_game.drop_duplicates(inplace = True)
df_game.drop(columns = ['home_rink_side_start'], inplace = True)

In [26]:
df_betting['season'].value_counts()

20182019    2716
20172018    2710
20132014    2646
20152016    2642
20102011    2638
20142015    2638
20092010    2636
20082009    2634
20162017    2634
20072008    2630
20112012    2630
20192020    2424
20122013    1612
Name: season, dtype: int64

In [27]:
set(df_betting['season'])

{20072008,
 20082009,
 20092010,
 20102011,
 20112012,
 20122013,
 20132014,
 20142015,
 20152016,
 20162017,
 20172018,
 20182019,
 20192020}

In [28]:
set(df_game['season'])

{20082009,
 20092010,
 20102011,
 20112012,
 20122013,
 20132014,
 20142015,
 20152016,
 20162017,
 20172018,
 20182019,
 20192020}

In [30]:
set(df_mp_teams_all['season'])

{20082009,
 20092010,
 20102011,
 20112012,
 20122013,
 20132014,
 20142015,
 20152016,
 20162017,
 20172018,
 20182019,
 20192020}

In [29]:
set(df_mp_teams['season'])

{20082009,
 20092010,
 20102011,
 20112012,
 20122013,
 20132014,
 20142015,
 20152016,
 20162017,
 20172018,
 20182019,
 20192020}

In [29]:
set(df_mp_teams['season'])

{20082009,
 20092010,
 20102011,
 20112012,
 20122013,
 20132014,
 20142015,
 20152016,
 20162017,
 20172018,
 20182019,
 20192020}

In [29]:
set(df_mp_teams['season'])

{20082009,
 20092010,
 20102011,
 20112012,
 20122013,
 20132014,
 20142015,
 20152016,
 20162017,
 20172018,
 20182019,
 20192020}

In [37]:
def perc_null(X):
    
    total = X.isnull().sum().sort_values(ascending=False)
    data_types = X.dtypes
    percent = (X.isnull().sum()/X.isnull().count()).sort_values(ascending=False)

    missing_data = pd.concat([total, data_types, percent], axis=1, keys=['Total','Type', 'Percent'])
    return missing_data

In [38]:
perc_null(df_game_skater_stats)

                       Total     Type   Percent
blocked               398107  float64  0.420908
hits                  398107  float64  0.420908
giveaways             398107  float64  0.420908
takeaways             398107  float64  0.420908
game_id                    0    int64  0.000000
faceoffTaken               0    int64  0.000000
shortHandedTimeOnIce       0    int64  0.000000
evenTimeOnIce              0    int64  0.000000
plusMinus                  0    int64  0.000000
shortHandedAssists         0    int64  0.000000
shortHandedGoals           0    int64  0.000000
faceOffWins                0    int64  0.000000
player_id                  0    int64  0.000000
penaltyMinutes             0    int64  0.000000
powerPlayAssists           0    int64  0.000000
powerPlayGoals             0    int64  0.000000
shots                      0    int64  0.000000
goals                      0    int64  0.000000
assists                    0    int64  0.000000
timeOnIce                  0    int64  0.000000
team_id                    0    int64  0.000000
powerPlayTimeOnIce         0    int64  0.000000

In [39]:
perc_null(df_game_goalie_stats)

                            Total     Type   Percent
powerPlaySavePercentage      4743  float64  0.083716
decision                     4102   object  0.072402
evenStrengthSavePercentage    197  float64  0.003477
savePercentage                139  float64  0.002453
shortHandedSaves                0    int64  0.000000
powerPlayShotsAgainst           0    int64  0.000000
evenShotsAgainst                0    int64  0.000000
shortHandedShotsAgainst         0    int64  0.000000
evenSaves                       0    int64  0.000000
game_id                         0    int64  0.000000
player_id                       0    int64  0.000000
saves                           0    int64  0.000000
shots                           0    int64  0.000000
pim                             0    int64  0.000000
goals                           0    int64  0.000000
assists                         0    int64  0.000000
timeOnIce                       0    int64  0.000000
team_id                         0    int64  0.000000
powerPlaySaves                  0    int64  0.000000

In [40]:
perc_null(df_game_team_stats)

                        Total     Type   Percent
faceOffWinPercentage    22148  float64  0.420985
hits                     4928  float64  0.093670
blocked                  4928  float64  0.093670
takeaways                4928  float64  0.093670
giveaways                4928  float64  0.093670
startRinkSide            2392   object  0.045467
head_coach                 28   object  0.000532
goals                       8  float64  0.000152
shots                       8  float64  0.000152
pim                         8  float64  0.000152
powerPlayOpportunities      8  float64  0.000152
powerPlayGoals              8  float64  0.000152
team_id                     0    int64  0.000000
settled_in                  0   object  0.000000
won                         0     bool  0.000000
HoA                         0   object  0.000000
game_id                     0    int64  0.000000

In [27]:
perc_null(df_game)['Total'].sum()

0

In [29]:
perc_null(df_betting)['Total'].sum()

0

In [40]:
##double check 2008 is 20082009: yep, checked 2 seasons 

#df_mp_teams_all.sort_values(by = 'gameId').iloc[4200:4250, :10]

In [12]:
##fix seasons for df_mp

def fix_mp_season(n):
    return int(str(n)+str(n+1))

#test 
#fix_mp_season(2010)
df_mp_teams['season'] = df_mp_teams['season'].map(fix_mp_season)
df_mp_teams_all['season'] = df_mp_teams_all['season'].map(fix_mp_season)

In [23]:
df_mp_teams['season'].value_counts()

20182019    13580
20172018    13550
20132014    13230
20152016    13210
20142015    13190
20092010    13180
20102011    13180
20162017    13170
20112012    13160
20082009    13140
20192020    12120
20122013     8060
Name: season, dtype: int64

In [24]:
df_mp_teams_all['season'].value_counts()  ##same, same

20182019    2716
20172018    2710
20132014    2646
20152016    2642
20142015    2638
20092010    2636
20102011    2636
20162017    2634
20112012    2632
20082009    2628
20192020    2424
20122013    1612
Name: season, dtype: int64

In [31]:
df_mp_teams['season'].value_counts()

20182019    13580
20172018    13550
20132014    13230
20152016    13210
20142015    13190
20092010    13180
20102011    13180
20162017    13170
20112012    13160
20082009    13140
20192020    12120
20122013     8060
Name: season, dtype: int64

In [16]:

##restrict seasons 
seasons = []
for n in range(2008,2020):
    seasons.append(int(str(n)+str(n+1)))

print(seasons)

[20082009, 20092010, 20102011, 20112012, 20122013, 20132014, 20142015, 20152016, 20162017, 20172018, 20182019, 20192020]

In [19]:
for seas in seasons:
    print(seas, len(df_mp_teams_all.loc[df_mp_teams['season']==seas])/2, len(df_game.loc[df_game['season']==seas]), len(df_betting.loc[df_betting['season']==seas])/2)

20082009 1314.0 1230 1317.0
20092010 1318.0 1230 1318.0
20102011 1318.0 1319 1319.0
20112012 1316.0 1316 1315.0
20122013 806.0 806 806.0
20132014 1323.0 1323 1323.0
20142015 1319.0 1319 1319.0
20152016 1321.0 1321 1321.0
20162017 1317.0 1323 1317.0
20172018 1355.0 1363 1355.0
20182019 1358.0 1360 1358.0
20192020 1212.0 1215 1212.0

In [ ]:
##they match up starting 2013-14 ... but that was short so let's go with 2013-14

CUT DOWN SEASONS TO 2008-09 to 2019-20

In [ ]:
data_frames = [df_mp_teams, df_mp_teams_all, df_betting, df_game]

for X in data_frames:
    X = X.loc[X['season'].isin(seasons), :].copy()
    X.reset_index(drop = True, inplace = True)

In [21]:
#restrict seasons:
df_betting = df_betting.loc[df_game['season'].isin(seasons), :].copy()
df_game = df_game.loc[df_game['season'].isin(seasons), :].copy()
df_mp_teams = df_mp_teams.loc[df_mp_teams['season'].isin(seasons), :].copy()
df_mp_teams_all = df_mp_teams_all.loc[df_mp_teams_all['season'].isin(seasons), :].copy()

In [43]:
## next investigate game overlaps

len(set(df_mp_teams_all['gameId']).symmetric_difference(set(df_game['game_id'])))

200

In [44]:
len(set(df_mp_teams_all['gameId']).intersection(set(df_game['game_id'])))

15101