In [1]:
## cleaning tool


def perc_null(X):
    
    total = X.isnull().sum().sort_values(ascending=False)
    data_types = X.dtypes
    percent = (X.isnull().sum()/X.isnull().count()).sort_values(ascending=False)

    missing_data = pd.concat([total, data_types, percent], axis=1, keys=['Total','Type' ,'Percent'])
    return missing_data

In [2]:
##fixing dates and season label 

import pandas as pd
import numpy as np

def to_string(n):
    s = str(n)
    if len(s) ==1:
        return "0"+s
    else:
        return s

##for assigning dates in df_game
#takes in date_time date and returns integer yyyymmdd eg 20080904
##note this is df_mp format

def game_add_mp_date(date_time):
    d = date_time.day
    m = date_time.month
    y = date_time.year
    dd = to_string(d)
    mm = to_string(m)
    yyyy = str(y)
    return(int(yyyy+mm+dd))

##test 
date_time1 = pd.to_datetime('2016-10-19T00:30:00Z')
date_time2 = pd.to_datetime('2008-09-19T00:30:00Z')

print("two tests for game_add_mp_date:")
print(game_add_mp_date(date_time1) == 20161019)
print(game_add_mp_date(date_time2)==20080919)
print(" ")
##for assigning dates to df_betting
#takes in ingegers date = 913 or 1026 season = 20082009 
# returns  returns integer yyyymmdd eg 20080904
#note this is df_mp format

def bet_add_mp_date(date, season):
    d = str(date)
    s = str(season)
    if len(d) == 3:
        d = "0"+d 
    if (900 < date):
        y= s[:4]
    else:
        y = s[4:]
    return int(y+d)

##test
print("??three tests for bed_add_mp_date:")
print(bet_add_mp_date(912, 20082009) == 20080912)
print(bet_add_mp_date(1025,20102011) == 20101025)
print(bet_add_mp_date(227,20102011) == 20110227)
print(" ")

##fix season format for df_mp
##takes in integer 2008 and returns 20082009
##note: I have verified in df_mp for two seasons 2008 labels 20082009

def fix_mp_season(n):
    return int(str(n)+str(n+1))

##tests
print("two tests for fix_mp_season:")
print(fix_mp_season(2008) == 20082009)
print(fix_mp_season(2019) == 20192020)
print(" ")

two tests for game_add_mp_date:
True
True

??three tests for bed_add_mp_date:
True
True
True

two tests for fix_mp_season:
True
True

In [3]:
##fix team names


mp_to_nhl_dic = {'ANA': 'ANA',
 'ARI': 'ARI',
 'ATL': 'ATL',
 'BOS': 'BOS',
 'BUF': 'BUF',
 'CAR': 'CAR',
 'CBJ': 'CBJ',
 'CGY': 'CGY',
 'CHI': 'CHI',
 'COL': 'COL',
 'DAL': 'DAL',
 'DET': 'DET',
 'EDM': 'EDM',
 'FLA': 'FLA',
 'L.A': 'LAK',
 'MIN': 'MIN',
 'MTL': 'MTL',
 'N.J': 'NJD',
 'NSH': 'NSH',
 'NYI': 'NYI',
 'NYR': 'NYR',
 'OTT': 'OTT',
 'PHI': 'PHI',
 'PIT': 'PIT',
 'S.J': 'SJS',
 'STL': 'STL',
 'T.B': 'TBL',
 'TOR': 'TOR',
 'VAN': 'VAN',
 'VGK': 'VGK',
 'WPG': 'WPG',
 'WSH': 'WSH'}

bet_to_nhl_dic = {'Anaheim': 'ANA',
 'Arizona': 'ARI',
 'Arizonas': 'ARI',
 'Atlanta': 'ATL',
 'Boston': 'BOS',
 'Buffalo': 'BUF',
 'Calgary': 'CGY',
 'Carolina': 'CAR',
 'Chicago': 'CHI',
 'Colorado': 'COL',
 'Columbus': 'CBJ',
 'Dallas': 'DAL',
 'Detroit': 'DET',
 'Edmonton': 'EDM',
 'Florida': 'FLA',
 'LosAngeles': 'LAK',
 'Minnesota': 'MIN',
 'Montreal': 'MTL',
 'NYIslanders': 'NYI',
 'NYRangers': 'NYR',
 'Nashville': 'NSH',
 'NewJersey': 'NJD',
 'Ottawa': 'OTT',
 'Philadelphia': 'PHI',
 'Phoenix': 'ARI',
 'Pittsburgh': 'PIT',
 'SanJose': 'SJS',
 'St.Louis': 'STL',
 'Tampa': 'TBL',
 'TampaBay': 'TBL',
 'Toronto': 'TOR',
 'Vancouver': 'VAN',
 'Vegas': 'VGK',
 'Washington': 'WSH',
 'Winnipeg': 'WPG',
 'WinnipegJets': 'WPG'}

game_to_nhl_dic = {1: 'NJD',
 4: 'PHI',
 26: 'LAK',
 14: 'TBL',
 6: 'BOS',
 3: 'NYR',
 5: 'PIT',
 17: 'DET',
 28: 'SJS',
 18: 'NSH',
 23: 'VAN',
 16: 'CHI',
 9: 'OTT',
 8: 'MTL',
 30: 'MIN',
 15: 'WSH',
 19: 'STL',
 24: 'ANA',
 27: 'ARI',
 2: 'NYI',
 10: 'TOR',
 13: 'FLA',
 7: 'BUF',
 20: 'CGY',
 21: 'COL',
 25: 'DAL',
 29: 'CBJ',
 52: 'WPG',
 22: 'EDM',
 54: 'VGK',
 12: 'CAR',
 53: 'ARI',
 11: 'ATL'}

def bet_to_nhl(Team):
    return bet_to_nhl_dic[Team]

def mp_to_nhl(team):
    return mp_to_nhl_dic[team]

def game_to_nhl(team_id):
    return game_to_nhl_dic[team_id]

##simple tests:
print(set(bet_to_nhl_dic.values()) == set(mp_to_nhl_dic.values()) )
print(set(bet_to_nhl_dic.values() )== set(game_to_nhl_dic.values()) )
print(set(mp_to_nhl_dic.values()) == set(game_to_nhl_dic.values()) )

print(set(game_to_nhl_dic.values()))
print(set(bet_to_nhl_dic.values()))
print(set(mp_to_nhl_dic.values()))

True
True
True
{'NSH', 'PIT', 'WPG', 'STL', 'CBJ', 'NJD', 'ATL', 'TOR', 'FLA', 'BOS', 'MTL', 'SJS', 'VAN', 'TBL', 'ANA', 'OTT', 'NYR', 'LAK', 'WSH', 'VGK', 'PHI', 'BUF', 'DAL', 'DET', 'ARI', 'CHI', 'EDM', 'MIN', 'CGY', 'CAR', 'COL', 'NYI'}
{'NSH', 'PIT', 'WPG', 'STL', 'CBJ', 'NJD', 'ATL', 'TOR', 'FLA', 'BOS', 'MTL', 'SJS', 'VAN', 'TBL', 'ANA', 'NYR', 'OTT', 'LAK', 'WSH', 'VGK', 'PHI', 'BUF', 'DAL', 'DET', 'ARI', 'CHI', 'EDM', 'MIN', 'CGY', 'CAR', 'COL', 'NYI'}
{'NSH', 'PIT', 'WPG', 'STL', 'CBJ', 'NJD', 'ATL', 'TOR', 'FLA', 'BOS', 'MTL', 'SJS', 'VAN', 'TBL', 'ANA', 'NYR', 'OTT', 'LAK', 'WSH', 'VGK', 'PHI', 'BUF', 'DAL', 'DET', 'ARI', 'CHI', 'EDM', 'MIN', 'CGY', 'CAR', 'COL', 'NYI'}

In [4]:
##assign game_id to df_betting (two ways)

##these two functions 
# assign game_id to df_betting ... using two different look up tables, df_game and df_mp_teams
##note the following error codes are assigned if a game is not found or found more than once 
# if a home game is empty: 80    #8 is for h
# if a home game has >= 2 entries: 82
# if an away game is empty: 10   #1 is for a
# if an away game has >= 12 entries: 82

#df_betting['mp_game_id'] =  np.vectorize(mp_to_bet_add_game_id, excluded={0})(df_mp_teams, df_betting['mp_date'], df_betting['nhl_name'], df_betting['VH'] ) 

def mp_to_bet_add_game_id(df_mp_teams, mp_date, nhl_name, VH):##put VH in there! duh
    if VH == 'H':
        h = df_mp_teams.loc[(df_mp_teams['mp_date'] == mp_date)&(df_mp_teams['nhl_name'] == nhl_name)&(df_mp_teams['home_or_away'] == 'HOME'),  :]['game_id'].values
        if len(h) ==1:
            return h[0]
        elif len(h)==0: #and mp_date < 2010000:
            return 80   
            print(mp_date)
        elif len(h) > 1:
            return 82
    if VH == 'V':
        a = df_mp_teams.loc[(df_mp_teams['mp_date'] == mp_date)&(df_mp_teams['nhl_name'] == nhl_name)&(df_mp_teams['home_or_away'] == 'AWAY'),  :]['game_id'].values
        if len(a) ==1:
            return a[0]
        elif len(a)==0:
            return 10   
        elif len(a) > 1:
            return 12

    if VH == 'N':
        n = df_mp_teams.loc[(df_mp_teams['mp_date'] == mp_date)&(df_mp_teams['nhl_name'] == nhl_name),  :]['game_id'].values
        if len(n) ==1:
            return n[0]
        elif len(n)==0:
            return 130   
        elif len(n) > 1:
            return 132
        
        
def game_to_bet_add_game_id(df_game, mp_date, nhl_name, VH):##put VH in there! duh
    if VH == 'H':
        ## this h and (also a) is an array of values ... it  may be empty; we expect exactly one element; might have >=2 or 0  if something is wrong
        h = df_game.loc[(df_game['mp_date'] == mp_date)&(df_game['nhl_name_home_team'] == nhl_name),  :]['game_id'].values
        if len(h) ==1:
            return h[0]
        elif len(h)==0:  #and mp_date < 2010000:
            return 80
            print(mp_date)
        elif len(h) > 1:
            return 82
    if VH == 'V':
        a = df_game.loc[(df_game['mp_date'] == mp_date)&(df_game['nhl_name_away_team'] == nhl_name),  :]['game_id'].values
        if len(a) ==1:
            return a[0]
        elif len(a)==0:
            return 220
        elif len(a) > 1:
            return 222

In [5]:
##? not sure what this is ... 
from numpy.core.numeric import True_

import pandas as pd
import numpy as np

##skip import lines because we are in notebook ... so those files with functions are copied above

## this function gives detailed info on NaN values of input df
#from data_clean import perc_null

#these functionas add a date column (x2) and correct mp season format

#from data_fix_dates import game_add_mp_date, bet_add_mp_date,  fix_mp_season 

#these functions assign nhl_names eg 'NYR' to bet, mp, and game; 
# functions use simple dictionaries

#from data_fix_team_names import bet_to_nhl, mp_to_nhl, game_to_nhl

##these are two different functions for assigning game_id to df_betting, based on team, date, H/A
##one uses df_game as look up table ... other uses df_mp_teams as look up table

#from data_bet_add_game_id import mp_to_bet_add_game_id, game_to_bet_add_game_id


##import all the files 

##file paths

Kaggle_path = "/Users/joejohns/data_bootcamp/Final_Project_NHL_prediction/Data/Kaggle_Data_Ellis/"
mp_path = "/Users/joejohns/data_bootcamp/Final_Project_NHL_prediction/Data/Money_Puck_Data/"
betting_path = "/Users/joejohns/data_bootcamp/Final_Project_NHL_prediction/Data/Betting_Data/"

##Kaggle files

df_game = pd.read_csv(Kaggle_path+'game.csv')
df_game_team_stats = pd.read_csv(Kaggle_path+'game_teams_stats.csv')
df_game_skater_stats = pd.read_csv(Kaggle_path+'game_skater_stats.csv')
df_game_goalie_stats = pd.read_csv(Kaggle_path+'game_goalie_stats.csv')

##more subtle Kaggle features:
df_game_scratches = pd.read_csv(Kaggle_path+'game_scratches.csv')
df_game_officials = pd.read_csv(Kaggle_path+'game_officials.csv')
df_team_info = pd.read_csv(Kaggle_path+'team_info.csv')

## grab all the moneypuck data 

df_mp_teams = pd.read_csv(mp_path+'all_teams.csv')


## grab all betting data 
df1 = pd.read_excel(io = betting_path+'nhl odds 2007-08.xlsx')
df2 = pd.read_excel(io = betting_path+'nhl odds 2008-09.xlsx')
df3 = pd.read_excel(io = betting_path+'nhl odds 2009-10.xlsx')
df4 = pd.read_excel(io = betting_path+'nhl odds 2010-11.xlsx')
df5 = pd.read_excel(io = betting_path+'nhl odds 2011-12.xlsx')
df6 = pd.read_excel(io = betting_path+'nhl odds 2012-13.xlsx')
df7 = pd.read_excel(io = betting_path+'nhl odds 2013-14.xlsx')
df8 = pd.read_excel(io = betting_path+'nhl odds 2014-15.xlsx')
df9 = pd.read_excel(io = betting_path+'nhl odds 2015-16.xlsx')
df10 = pd.read_excel(io = betting_path+'nhl odds 2016-17.xlsx')
df11 = pd.read_excel(io = betting_path+'nhl odds 2017-18.xlsx')
df12 = pd.read_excel(io = betting_path+'nhl odds 2018-19.xlsx')
df13 = pd.read_excel(io = betting_path+'nhl odds 2019-20.xlsx')




df1['season'] = 20072008
df2['season'] = 20082009
df3['season'] = 20092010
df4['season'] = 20102011
df5['season'] = 20112012
df6['season'] = 20122013
df7['season'] = 20132014
df8['season'] = 20142015
df9['season'] = 20152016
df10['season'] = 20162017
df11['season'] = 20172018
df12['season'] = 20182019
df13['season'] = 20192020

df_betting = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13])

In [6]:
###Stage 1. Drop some rows, columns


df_betting = df_betting.loc[:, ['Date', 'season','VH', 'Team', 'Open']].copy()
df_mp_teams.rename(columns={"teamId": "team_id", 'gameDate': 'mp_date', 'gameId':'game_id' }, inplace = True)
##note there are other column names which differ, but team_id, mp_date, game_id are key for joining so we  
##make it consistent


##has 5 rows for each game_id+team for all the different situations, 5v4, etc
df_mp_teams_all = df_mp_teams.copy()  

##only has the rows for all situations (divide num rows by 5)
df_mp_teams = df_mp_teams.loc[df_mp_teams['situation'] == 'all', :].copy()


##deal with NaN values later ... 
# notes: it appears most of missing values are in df_mp
##note there are more nan values in df_game_skaters/team/goalies
#df_game.drop(columns = ['home_rink_side_start'], inplace = True)


### get rid of some weird rows
df_betting_VHN = df_betting[(df_betting['VH'] == 'N')].copy()

df_game.drop_duplicates(inplace = True)
df_game = df_game[~df_game['away_team_id'].isin([87,88,89,90])].copy()
df_game = df_game[~df_game['home_team_id'].isin([87,88,89,90])].copy()
df_betting = df_betting[~(df_betting['VH'] == 'N')].copy()

In [7]:
##Stage 2 Restrict the seaons to 20082009 to 20192020 is the range common to all 3 df's
## fix seasons format in df_mp (other 2 already have 20082009 format)


df_mp_teams['season'] = df_mp_teams['season'].map(fix_mp_season)
df_mp_teams_all['season'] = df_mp_teams_all['season'].map(fix_mp_season)


##restrict seasons; 
seasons = []
for n in range(2008,2020):
    seasons.append(int(str(n)+str(n+1)))

#check seasons look ok
print(seasons)



### set up list of all the df's for easy for loops
data_frames_all = [df_mp_teams, df_mp_teams_all,
df_betting,
df_game,
df_game_team_stats, 
df_game_goalie_stats,
df_team_info,
df_game_officials,
df_game_scratches, 
df_game_skater_stats]

##for now just worry about joining these ones:

data_frames = [df_mp_teams, df_mp_teams_all, df_betting, df_game]

# for X in data_frames:
#     X = X.loc[X['season'].isin(seasons), :].copy()
#     X.reset_index(drop = True, inplace = True)
# ##!! need to check this works. It does NOT
# for X in data_frames:
#     print(sorted(list(set(X['season']))))


##Note: I check in notebook the df's had same num of rows in the colums we kept before 
# and after

df_betting = df_betting.loc[df_betting['season'].isin(seasons), :].copy()
df_game = df_game.loc[df_game['season'].isin(seasons), :].copy()
df_mp_teams = df_mp_teams.loc[df_mp_teams['season'].isin(seasons), :].copy()
df_mp_teams_all = df_mp_teams_all.loc[df_mp_teams_all['season'].isin(seasons), :].copy()

## the index is no longer consecutive so we reset:

df_betting.reset_index(drop = True, inplace = True)
df_game.reset_index(drop = True, inplace = True)
df_mp_teams.reset_index(drop = True, inplace = True)
df_mp_teams_all.reset_index(drop = True, inplace = True)

[20082009, 20092010, 20102011, 20112012, 20122013, 20132014, 20142015, 20152016, 20162017, 20172018, 20182019, 20192020]

In [8]:
df_mp_teams['season'].value_counts()

20182019    2716
20172018    2710
20132014    2646
20152016    2642
20142015    2638
20092010    2636
20102011    2636
20162017    2634
20112012    2632
20082009    2628
20192020    2424
20122013    1612
Name: season, dtype: int64

In [9]:

df_game['date_time_GMT'] = pd.to_datetime(df_game['date_time_GMT'])

from datetime import datetime, timedelta

def  game_fix_date(date_time, offset):
    return date_time + timedelta( days = 0, hours = int(offset), minutes = 0)

df_game['date_time_local'] = np.vectorize(game_fix_date)(df_game['date_time_GMT'], df_game['venue_time_zone_offset'])

df_game['date_time_GMT'][0]

Timestamp('2016-10-19 00:30:00+0000', tz='UTC')

In [10]:
###Stage 3: assign consistent dates 

##here is a count of how many games in each df ... approx the same ... so looks likely there 
##should be close to full overlap in game_id's

#for seas in seasons:
#    print(seas, len(df_mp_teams_all.loc[df_mp_teams['season']==seas])/2, len(df_game.loc[df_game['season']==seas]), len(df_betting.loc[df_betting['season']==seas])/2)

    

## do mp_date for df_games and df_betting format is integer =20080923

#df_game['date_time_GMT'] = pd.to_datetime(df_game['date_time_GMT']) 



df_game['mp_date'] = df_game['date_time_GMT'].apply(game_add_mp_date)
df_betting['mp_date'] = np.vectorize(bet_add_mp_date)(df_betting['Date'], df_betting['season'])

In [11]:
###Stage 4
##fix or append team_names, etc "NYR" following df_team_info (from nhl.com)



df_betting['nhl_name'] = df_betting['Team'].apply(bet_to_nhl)
df_game['nhl_name_away_team'] = df_game['away_team_id'].apply(game_to_nhl)
df_game['nhl_name_home_team'] = df_game['home_team_id'].apply(game_to_nhl)
df_mp_teams['nhl_name'] = df_mp_teams['name'].apply(mp_to_nhl)
df_mp_teams_all['nhl_name'] = df_mp_teams_all['name'].apply(mp_to_nhl)

In [12]:
## Stage 5 assign game_id to df_betting 

##we use  two different look up tables, df_game and df_mp_teams
##note the following error codes are assigned if a game is not found or found more than once 
# if a home game is empty: 80
# if a home game has >= 2 entries: 82
# if an away game is empty: 10
# if an away game has >= 12 entries: 82

##below we add excluded ={0} to indicate that the 0th argment (the look up df) is not to be vectorized
df_betting['mp_game_id'] =  np.vectorize(mp_to_bet_add_game_id, excluded={0})(df_mp_teams, df_betting['mp_date'], df_betting['nhl_name'], df_betting['VH'] ) 
df_betting['gm_game_id'] =  np.vectorize(game_to_bet_add_game_id, excluded={0})(df_game, df_betting['mp_date'], df_betting['nhl_name'], df_betting['VH'] )

In [13]:
df_betting['gm_game_id'].value_counts()

80            10788
220            9501
222             119
82               33
2008020001        2
              ...
2014020690        1
2014020718        1
2014020720        1
2010020091        1
2016020682        1
Name: gm_game_id, Length: 5776, dtype: int64

In [14]:
df_betting.loc[df_betting['mp_date'] == 20091117, :]['mp_game_id']

3210    2009020289
3211    2009020289
3212    2009020290
3213    2009020290
3214    2009020291
3215    2009020291
3216    2009020292
3217    2009020292
3218    2009020293
3219    2009020293
Name: mp_game_id, dtype: int64

In [15]:
df_mp_teams.loc[df_mp_teams['mp_date'] == 20091117, :]

,team,season,name,game_id,playerTeam,opposingTeam,home_or_away,mp_date,position,situation,...,scoreAdjustedUnblockedShotAttemptsAgainst,dZoneGiveawaysAgainst,xGoalsFromxReboundsOfShotsAgainst,xGoalsFromActualReboundsOfShotsAgainst,reboundxGoalsAgainst,totalShotCreditAgainst,scoreAdjustedTotalShotCreditAgainst,scoreFlurryAdjustedTotalShotCreditAgainst,playoffGame,nhl_name
102,NYR,20092010,NYR,2009020289,NYR,WSH,HOME,20091117,Team Level,all,...,40.547,2.0,0.490,0.936,1.070,2.731,2.808,2.729,0,NYR
8947,COL,20092010,COL,2009020293,COL,CGY,AWAY,20091117,Team Level,all,...,40.747,6.0,0.440,0.217,0.350,2.772,2.639,2.611,0,COL
11232,TOR,20092010,TOR,2009020291,TOR,OTT,AWAY,20091117,Team Level,all,...,26.942,13.0,0.295,0.000,0.000,2.073,2.024,2.018,0,TOR
13194,MTL,20092010,MTL,2009020290,MTL,CAR,HOME,20091117,Team Level,all,...,47.618,9.0,0.556,0.864,0.864,2.207,2.298,2.277,0,MTL
18123,OTT,20092010,OTT,2009020291,OTT,TOR,HOME,20091117,Team Level,all,...,41.914,4.0,0.428,0.942,0.942,2.402,2.435,2.401,0,OTT
19113,WSH,20092010,WSH,2009020289,WSH,NYR,AWAY,20091117,Team Level,all,...,34.275,1.0,0.345,0.540,0.540,1.678,1.621,1.604,0,WSH
22231,NSH,20092010,NSH,2009020292,NSH,S.J,HOME,20091117,Team Level,all,...,45.806,7.0,0.437,0.325,0.325,2.761,2.741,2.737,0,NSH
23260,CGY,20092010,CGY,2009020293,CGY,COL,HOME,20091117,Team Level,all,...,36.937,4.0,0.361,0.579,0.579,2.394,2.502,2.462,0,CGY
27349,CAR,20092010,CAR,2009020290,CAR,MTL,AWAY,20091117,Team Level,all,...,44.855,13.0,0.509,0.202,0.202,2.830,2.751,2.680,0,CAR
28329,S.J,20092010,S.J,2009020292,S.J,NSH,AWAY,20091117,Team Level,all,...,42.849,6.0,0.503,0.290,0.290,3.236,3.235,3.149,0,SJS

In [16]:
df_game.loc[df_game['mp_date'] == 20091117, ['game_id', 'mp_date', 'date_time_GMT', 'away_team_id', 'nhl_name_away_team', 'away_goals',  'home_team_id', 'nhl_name_home_team', 'home_goals','venue']]

,game_id,mp_date,date_time_GMT,away_team_id,nhl_name_away_team,away_goals,home_team_id,nhl_name_home_team,home_goals,venue
9487,2009020287,20091117,2009-11-17 00:30:00+00:00,26,LAK,4,13,FLA,3,BankAtlantic Center
10045,2009020288,20091117,2009-11-17 02:00:00+00:00,14,TBL,4,27,ARI,1,Jobing.com Arena
10065,2009020284,20091117,2009-11-17 00:00:00+00:00,1,NJD,2,4,PHI,3,Wachovia Center
10400,2009020285,20091117,2009-11-17 00:00:00+00:00,22,EDM,2,29,CBJ,3,Nationwide Arena
10557,2009020286,20091117,2009-11-17 00:30:00+00:00,24,ANA,2,5,PIT,5,Mellon Arena
10570,2009020283,20091117,2009-11-17 00:00:00+00:00,2,NYI,4,6,BOS,1,TD Garden

In [17]:
df_team_info.sort_values(by = 'franchiseId')

,team_id,franchiseId,shortName,teamName,abbreviation,link
13,8,1,Montreal,Canadiens,MTL,/api/v1/teams/8
20,10,5,Toronto,Maple Leafs,TOR,/api/v1/teams/10
4,6,6,Boston,Bruins,BOS,/api/v1/teams/6
5,3,10,NY Rangers,Rangers,NYR,/api/v1/teams/3
11,16,11,Chicago,Blackhawks,CHI,/api/v1/teams/16
7,17,12,Detroit,Red Wings,DET,/api/v1/teams/17
2,26,14,Los Angeles,Kings,LAK,/api/v1/teams/26
25,25,15,Dallas,Stars,DAL,/api/v1/teams/25
1,4,16,Philadelphia,Flyers,PHI,/api/v1/teams/4
6,5,17,Pittsburgh,Penguins,PIT,/api/v1/teams/5
16,19,18,St Louis,Blues,STL,/api/v1/teams/19
22,7,19,Buffalo,Sabres,BUF,/api/v1/teams/7
10,23,20,Vancouver,Canucks,VAN,/api/v1/teams/23
23,20,21,Calgary,Flames,CGY,/api/v1/teams/20
19,2,22,NY Islanders,Islanders,NYI,/api/v1/teams/2
0,1,23,New Jersey,Devils,NJD,/api/v1/teams/1
15,15,24,Washington,Capitals,WSH,/api/v1/teams/15
28,22,25,Edmonton,Oilers,EDM,/api/v1/teams/22
30,12,26,Carolina,Hurricanes,CAR,/api/v1/teams/12
24,21,27,Colorado,Avalanche,COL,/api/v1/teams/21
31,53,28,Arizona,Coyotes,ARI,/api/v1/teams/53
18,27,28,Phoenix,Coyotes,PHX,/api/v1/teams/27
8,28,29,San Jose,Sharks,SJS,/api/v1/teams/28
12,9,30,Ottawa,Senators,OTT,/api/v1/teams/9
3,14,31,Tampa Bay,Lightning,TBL,/api/v1/teams/14
17,24,32,Anaheim,Ducks,ANA,/api/v1/teams/24
21,13,33,Florida,Panthers,FLA,/api/v1/teams/13
9,18,34,Nashville,Predators,NSH,/api/v1/teams/18
27,52,35,Winnipeg,Jets,WPG,/api/v1/teams/52
32,11,35,Atlanta,Thrashers,ATL,/api/v1/teams/11
26,29,36,Columbus,Blue Jackets,CBJ,/api/v1/teams/29
14,30,37,Minnesota,Wild,MIN,/api/v1/teams/30
29,54,38,Vegas,Golden Knights,VGK,/api/v1/teams/54

In [18]:
df_game.columns

Index(['game_id', 'season', 'type', 'date_time_GMT', 'away_team_id',
       'home_team_id', 'away_goals', 'home_goals', 'outcome',
       'home_rink_side_start', 'venue', 'venue_link', 'venue_time_zone_id',
       'venue_time_zone_offset', 'venue_time_zone_tz', 'date_time_local',
       'mp_date', 'nhl_name_away_team', 'nhl_name_home_team'],
      dtype='object')

In [19]:
df_betting['mp_game_id'].value_counts()

80            126
10             11
2008020001      2
2016020070      2
2016020057      2
             ...
2013020831      1
2011020895      1
2011020692      1
2011020430      1
2013021218      1
Name: mp_game_id, Length: 15141, dtype: int64

In [20]:
##ok around 2800 with 0 these are just games not matching with any game in df_mp
##115 with just one game (might be those 'N' values I ommitted in VA)
##and 30000 cirrectlt assigned ... so aroun 10% missing .. no problem 


##ah! Much better ... only around 3/15 = 20% of data is not assigned ... due to a 0 = array_size

In [21]:
df_mp_teams.loc[(df_mp_teams['mp_date'] == 20081012)&(df_mp_teams['nhl_name'] == 'N')&(df_mp_teams['home_or_away'] == 'HOME'),  :]['game_id'].values

array([], dtype=int64)

In [22]:
df_betting.loc[df_betting['mp_game_id'] ==2013021011, :]

,Date,season,VH,Team,Open,mp_date,nhl_name,mp_game_id,gm_game_id
14168,315,20132014,V,Calgary,175,20140315,CGY,2013021011,2013021002

In [23]:
df_betting_VHN = df_betting_VHN.loc[df_game['season'].isin(seasons), :].copy()
df_betting_VHN['mp_date'] = np.vectorize(bet_add_mp_date)(df_betting_VHN['Date'], df_betting_VHN['season'])
df_betting_VHN['nhl_name'] = df_betting_VHN['Team'].apply(bet_to_nhl)
df_betting_VHN['mp_game_id'] = np.vectorize(mp_to_bet_add_game_id, excluded={0})(df_mp_teams, df_betting_VHN['mp_date'], df_betting_VHN['nhl_name'], df_betting_VHN['VH'] )

In [29]:
#df_betting_VHN['mp_game_id'].value_counts()

In [25]:
df_betting.head()

,Date,season,VH,Team,Open,mp_date,nhl_name,mp_game_id,gm_game_id
0,1004,20082009,V,NYRangers,100,20081004,NYR,2008020001,2008020001
1,1004,20082009,H,TampaBay,-120,20081004,TBL,2008020001,2008020001
2,1004,20082009,V,Pittsburgh,-105,20081004,PIT,2008020002,2008020002
3,1004,20082009,H,Ottawa,-115,20081004,OTT,2008020002,2008020002
4,1005,20082009,V,TampaBay,105,20081005,TBL,2008020003,2008020003

In [26]:
##make somejoins to see wtf is going on with df_game ...

In [27]:
df_mp_teams

,team,season,name,game_id,playerTeam,opposingTeam,home_or_away,mp_date,position,situation,...,scoreAdjustedUnblockedShotAttemptsAgainst,dZoneGiveawaysAgainst,xGoalsFromxReboundsOfShotsAgainst,xGoalsFromActualReboundsOfShotsAgainst,reboundxGoalsAgainst,totalShotCreditAgainst,scoreAdjustedTotalShotCreditAgainst,scoreFlurryAdjustedTotalShotCreditAgainst,playoffGame,nhl_name
0,NYR,20082009,NYR,2008020001,NYR,T.B,AWAY,20081004,Team Level,all,...,30.369,5.0,0.396,0.168,0.168,2.917,2.833,2.714,0,NYR
1,NYR,20082009,NYR,2008020003,NYR,T.B,HOME,20081005,Team Level,all,...,31.984,5.0,0.241,0.000,0.000,1.091,1.117,1.091,0,NYR
2,NYR,20082009,NYR,2008020010,NYR,CHI,HOME,20081010,Team Level,all,...,43.911,3.0,0.448,0.407,0.407,2.738,2.751,2.730,0,NYR
3,NYR,20082009,NYR,2008020019,NYR,PHI,AWAY,20081011,Team Level,all,...,38.025,4.0,0.504,0.401,0.401,3.123,2.958,2.907,0,NYR
4,NYR,20082009,NYR,2008020034,NYR,N.J,HOME,20081013,Team Level,all,...,38.019,3.0,0.383,1.139,1.139,2.698,2.691,2.242,0,NYR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30549,L.A,20152016,L.A,2015030185,L.A,S.J,HOME,20160422,Team Level,all,...,39.463,10.0,0.370,0.261,0.261,2.152,2.314,2.307,1,LAK
30550,L.A,20172018,L.A,2017030171,L.A,VGK,AWAY,20180411,Team Level,all,...,52.184,4.0,0.509,0.000,0.000,2.788,2.783,2.733,1,LAK
30551,L.A,20172018,L.A,2017030172,L.A,VGK,AWAY,20180413,Team Level,all,...,75.118,3.0,0.788,0.962,0.962,4.469,4.347,4.234,1,LAK
30552,L.A,20172018,L.A,2017030173,L.A,VGK,HOME,20180415,Team Level,all,...,46.316,6.0,0.506,0.613,0.613,3.051,3.139,3.107,1,LAK
30553,L.A,20172018,L.A,2017030174,L.A,VGK,HOME,20180417,Team Level,all,...,36.654,8.0,0.320,0.285,0.285,1.853,2.012,1.976,1,LAK

In [28]:
#experiment with joins

X_game = df_game.iloc[:3, :].copy()

X_game_team = df_game_team_stats.iloc[2:6,:].copy()

X_mp = df_mp_teama.iloc[]

SyntaxError: invalid syntax (<ipython-input-28-9ee216cf19b3>, line 7)

In [ ]:
X_game

In [ ]:
X_game_team

In [ ]:
X_merge1 = X_game_team.merge(X_game, on='game_id', how = 'inner')

In [ ]:
X_merge1

In [ ]:
df_game.iloc[:20, :]

In [ ]:
df_game['game_id'].isin(games_ids_20091117)

In [ ]:
df_game.loc[df_game['game_id'].isin(games_ids_20091117), :]

In [ ]:
games_ids_20091117 = [2009020289,
2009020289,
    2009020290,
    2009020290,
    2009020291,
   2009020291,
    2009020292,
    2009020292,
    2009020293,
 2009020293 ]